autogluon==1.2
autogluon.common==1.2
autogluon.core==1.2
autogluon.features==1.2
autogluon.multimodal==1.2
autogluon.tabular==1.2
autogluon.timeseries==1.2
streamlit==1.43.2
pandas==2.2.2
pyyaml
plotly==5.20.0
pytorch-lightning==2.5.1
pytorch-metric-learning==2.3.0
openpyxl
holidays
chardet
statsmodels==0.14.4
psutil
safetensors==0.5.3
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.15.2

